<!DOCTYPE html>
<html>
  <head>
    <title>The Geologist </title>
    <!-- NEED TO CUSTOMIZE!! -->
    <style>
        .node {
            stroke: #fff;
            stroke-width: 1.5px;
        }
        .link {
            stroke: #888;
            stroke-opacity: .6;
        }
    </style>
  </head>
  <body>
    <b>Welcome to <i>The Geologist</i>, your personal Rock historian!</b>
    <br>
    <svg id="vimage" height="500" width="500" style="border: 1px solid;" xmlns="http://www.w3.org/2000/svg">
    </svg>
  </body>
  <script type="application/json" id="genres">
{
  "Blues": {
    "influenced_genres": [
      "R&B"
    ],
    "influenced_artists": []
  },
  "R&B": {
    "influenced_genres": [
      "Rockabilly",
      "Hard Rock",
      "Doo Wop"
    ],
    "influenced_artists": [
      "Fats Domino",
      "Little Richard",
      "Chuck Berry",
      "Ray Charles",
      "Bo Diddley",
      "Ike & Tina Turner"
    ]
  },
  "Doo Wop": {
    "influenced_genres": [
      "Soul",
      "Funk"
    ],
    "influenced_artists": [
      "The Platters",
      "The Coasters",
      "The Drifters",
      "The Temptations"
    ]
  },
  "Soul": {
    "influenced_genres": [
      "Psychedelic Rock"
    ],
    "influenced_artists": [
      "Gladys Knight & the Pips",
      "Otis Redding",
      "Sam Cooke",
      "Marvin Gaye",
      "Stevie Wonder",
      "Diana Ross",
      "James Brown",
      "Aretha Franklin",
      "Isaac Jayes",
      "Al Green",
      "Sly and the Family Stone"
    ]
  },
  "Funk": {
    "influenced_genres": [
      "Disco"
    ],
    "influenced_artists": [
      "Funkadelic",
      "Confunktion",
      "Prince",
      "Isley Brothers",
      "Rick James"
    ]
  },
  "Country": {
    "influenced_genres": [
      "Folk",
      "Rockabilly"
    ],
    "influenced_artists": []
  },
  "Folk": {
    "influenced_genres": [
      "Folk Rock"
    ],
    "influenced_artists": [
      "Kingston Trio",
      "Joan Baez",
      "Peter, Paul & Mary"
    ]
  },
  "Folk Rock": {
    "influenced_genres": [
      "New Wave"
    ],
    "influenced_artists": [
      "Bob Dylan",
      "Van Morrison",
      "Dave Mason",
      "Creedence Clearwater Revival",
      "Jackson Brown",
      "Simon & Garfunkel",
      "The Band"
    ]
  },
  "Rockabilly": {
    "influenced_genres": [
      "Brit Invasion"
    ],
    "influenced_artists": [
      "Carl Perkins",
      "Gene Vincent",
      "Elvis Presley",
      "Everly Brothers",
      "Buddy Holly",
      "Roy Orbison",
      "Eddie Cochran"
    ]
  },
  "Brit Invasion": {
    "influenced_genres": [
      "Folk Rock",
      "Soul",
      "Pop Rock",
      "Hard Rock"
    ],
    "influenced_artists": [
      "Rolling Stones",
      "Animals",
      "Yardbirds",
      "Cream"
    ]
  },
  "Pop Rock": {
    "influenced_genres": [
      "New Wave",
      "Hard Rock"
    ],
    "influenced_artists": [
      "Neil Young",
      "Crosby, Stills, & Nash",
      "Byrds",
      "The Go-Go's",
      "Fleetwood Mac",
      "Beach Boys",
      "Kiss",
      "Elton John",
      "Neil Diamond",
      "Bonnie Raitt",
      "The Beatles",
      "Kinks"
    ]
  },
  "Hard Rock": {
    "influenced_genres": [
      "New Wave",
      "Grunge",
      "Punk"
    ],
    "influenced_artists": [
      "Ted Nugent",
      "Grand Funk",
      "AC/DC",
      "The Who",
      "Led Zeppelin",
      "Aerosmith",
      "Deep Purple",
      "Van Halen",
      "Jimi Hendrix"
    ]
  },
  "New Wave": {
    "influenced_genres": [
      "Grunge"
    ],
    "influenced_artists": [
      "Talking Heads",
      "Pretenders",
      "Eurythmics",
      "Blondie",
      "Elvis Costello",
      "Devo",
      "B-52's",
      "Police"
    ]
  },
  "Grunge": {
    "influenced_genres": [],
    "influenced_artists": [
      "Nirvana",
      "Pearl Jam",
      "Mudhoney",
      "Sound Garden",
      "Alice in Chains"
    ]
  },
  "Punk": {
    "influenced_genres": [
      "80's"
    ],
    "influenced_artists": [
      "Patti Smith",
      "Buzzcocks",
      "Richard Hell",
      "Siouxsie and the Banshees",
      "Sex Pistoles",
      "Ramones",
      "The Clash",
      "70's"
    ]
  },
  "Heavy Metal": {
    "influenced_genres": [
      "Grunge",
      "Punk"
    ],
    "influenced_artists": [
      "Motorhead",
      "Black Sabbath",
      "Dio",
      "Judas Priest",
      "Iron Maiden",
      "Metallica"
    ]
  },
  "80's": {
    "influenced_genres": [],
    "influenced_artists": [
      "Dead Kennedys",
      "The Replacements",
      "Minutemen",
      "Sonic Youth",
      "Butthole Surfers",
      "Husker Du",
      "Meat Puppets",
      "Fugazi"
    ]
  },
  "Psychedelic Rock": {
    "influenced_genres": [
      "Southern Rock",
      "Hard Rock",
      "Prog Rock",
      "Glitter/Glam"
    ],
    "influenced_artists": [
      "Iggy Pop",
      "The Doors",
      "Jefferson Airplane",
      "The Grateful Dead",
      "Velvet Underground"
    ]
  },
  "Prog Rock": {
    "influenced_genres": [
      "?"
    ],
    "influenced_artists": [
      "Yes",
      "Pink Floyd",
      "Genesis",
      "Residents",
      "King Crimson",
      "Jethro Tull",
      "Rush",
      "Elo"
    ]
  },
  "Glitter/Glam": {
    "influenced_genres": [],
    "influenced_artists": [
      "David Bowie",
      "Alice Cooper",
      "T Rex",
      "Roxy Music"
    ]
  },
  "Southern Rock": {
    "influenced_genres": [],
    "influenced_artists": [
      "Allman Brothers",
      "Lynyrd Skynyrd",
      "Zz Top",
      "Ozark Mt. Daredevils",
      "Black Oak Arkansas",
      "Molly Hatchet",
      "Little Feat",
      "Dr. John"
    ]
  },
  "?": {
    "influenced_genres": [],
    "influenced_artists": [
      "Zappa",
      "Can",
      "Capt. Beefheart"
    ]
  },
  "Disco": {
    "influenced_genres": [
      "Rap",
      "Hip Hop"
    ],
    "influenced_artists": [
      "Bee Gees",
      "The Village People",
      "Donna Summer",
      "KC & the Sunshine Band"
    ]
  },
  "Hip Hop": {
    "influenced_genres": [],
    "influenced_artists": [
      "Salt N Pepa",
      "Doug E. Fresh",
      "Sugar Hill Gang",
      "Boogie Down Productions",
      "Eric B"
    ]
  },
  "Rap": {
    "influenced_genres": [],
    "influenced_artists": [
      "LL Cool J",
      "Run DMC",
      "Dr. Dre",
      "The Geto Boys",
      "Public Enemy",
      "N.W.A.",
      "Beastie Boys",
      "Ice T",
      "Ice Cube",
      "Snoop Dogg"
    ]
  }
}
  </script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="/static/svg.js"> </script>
</html>
